<ul class="thumbnails">
  <li class="span6">
    <div class="km thumbnail">
      <img src="/assets/contact/km.jpg" alt="KM" />
      <p class="caption"></p>
    </div>
  </li>
  <li class="span6">
    <div class="malene thumbnail">
      <img src="/assets/contact/malene.jpg" alt="Malene" />
      <p class="caption"></p>
    </div>
  </li>
</ul>
