<div class="slider-wrapper theme-default">
  <div class="nivoSlider">
    <% photos.forEach(function(photo) { %>
      <% if (link) { %>
      <a href="#articles/<%= photo.get('article').id %>">
      <% } %>
      <% if (!photo.escape(captionType)) { captionType = 'caption'; } %>
      <img src="<%= photo.get('photo').cropped.url %>" title="<%= photo.escape(captionType) %>" />
    <% if (link) { %>
    </a>
    <% } %>
    <% }); %>
  </div>
</div>
