<div class="imagescroll"></div>

<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>Welcome!</h1>
      <p>
      Greetings, and welcome to my collection of stories and images gathered and written during my travels. Feel free to read the articles, browse the images and share
      the content.
      </p>
    </div>
  </div>

</div>
