<div class="imagescroll"></div>

<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>Welcome!</h1>
      <p>
      Greetings and welcome to Malene &amp; KM's travel blog. We gather our
      best travel experiences together with images and stories from the trips
      in articles on this site and are happy to share them with the rest of
      the world.  Feel free to read the articles, browse the images and share
      the content.
      </p>
    </div>
  </div>

</div>
