<div class="row" style="height: 300px;">
  <div class="span7">
    En boks med bilder tilknyttet landet man holder over
  </div>

  <div class="span5">
    <div id="map" style="width: 100%; height: 220px;"></div>
    En boks med google maps
  </div>
</div>

<div class="row">
  <div class="span12" style="height: 300px;">
    Tilfeldige bilder som scroller
  </div>
</div>
