<div class="fadeout"></div>

<div class="flybar">
  <span class="logo">
    <a href="#">MKM</a>
  </span>

  <div class="wrapper">
    <ul>
    <% _.forEach(continents, function(continent) { %>
      <li>
        <%= continent.escape('title') %>
        <% var countries = continent.countries(); %>
        <% if (countries.length > 0 && continent.hasArticles()) { %>
          <b class="caret"></b>
          <ul>
            <% _.forEach(countries, function(country) { %>
              <% var articles = country.articles(); %>
              <% if (articles.length > 0) { %>
                <li>
                  <%= country.escape('title') %>
                  <ul>
                    <% _.forEach(articles, function(article) { %>
                      <li><a href="#articles/<%= article.get('id') %>"><%= article.escape('title') %></a></li>
                    <% }); %>

                  </ul>
                </li>
              <% } %>
            <% }); %>
          </ul>
        <% } %>
      </li>
    <% }); %>
    </ul>
  </div>
</div>
