<article>
  <div class="row">
    <header class="page-header">
      <h1><%= article.get('title') %></h1>
    </header>

    <div class="pull-right">
      <div class="fb-like" data-href="http://www.mkm.tc/#articles/<%= article.id %>" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false" data-action="recommend"></div>
    </div>
    <small>
      Dated <%= mkm.helpers.date.format(article.get('start_date')) %>.
      <span class="publish-info">
        Not yet published
      </span>
    </small>


    <% if (mkm.config.logged_in) { %>
      <div class="adminbar"></div>
    <% } %>
  </div>

  <div class="imagescroll"></div>

  <div class="row">


      <div class="span6 photos"></div>

      <section class="body">
        <%= superTextile(article.get('body')) %>
      </section>

      <div class="thumbmatrix"></div>
      <div id="map" class="map"></div>
    </div>


  </div>
</article>
