<div class="span4">
  Pics
</div>

<div class="span8">
  <h1><%= article.get('title') %></h1>

  <div class="btn-toolbar">
    <a class="btn" href="#articles/<%= article.id %>/edit">
      <i class="icon-edit"></i>
      Edit
    </a>
    <% if (!article.get('published')) { %>
    <a class="btn publish" href="#">
      <i class="icon-share"></i>
      Publish
    </a>
    <% } %>
    <a class="btn btn-danger" href="#">
      <i class="icon-trash icon-white"></i>
      Delete
    </a>
    <a class="btn" href="#articles/<%= article.id %>/photos/new">
      <i class="icon-upload"></i>
      Upload photo
    </a>
  </div>

  <%= superTextile(article.get('body')) %>

  <div class="photos"></div>

  <div id="map" class="map"></div>
</div>
