<noscript>
  <%= render 'page/nonjavascript_disclaimer' %>

  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </nav>

  <article>
  <header>
    <h1><%= @article.title %></h1>
  </header>

  <%= raw RedCloth.new(@article.body).to_html %>
  </article>
</noscript>
