<div id="noscript">
  <%# This is a search engine version of the article %>
  <h1><%= @article.title %></h1>

  <div>
    <%= raw RedCloth.new(@article.body).to_html %>
  </div>
</div>

<script>
  $('#noscript').hide();
</script>
