<div id="noscript">
  <article>
  <%# This is a search engine version of the article %>
  <header>
    <h1><%= @article.title %></h1>
  </header>

  <%= raw RedCloth.new(@article.body).to_html %>
  </article>
</div>

<script>
  $('#noscript').hide();
</script>
