<h1 class="page-header">
  Widescreen settings
  <small>Create a widescreen version of the photo by selecting which area to use</small>
</h1>

<img class="photo" src="<%= photo.get('photo').url %>" />

<div class="form-actions crop">
  <button class="crop-photo btn btn-primary">
    <i class="icon-upload icon-white"></i>
    Store cropped version
  </button>
  <button class="delete-crop btn btn-danger">
    <i class="icon-trash icon-white"></i>
    Delete cropped version
  </button>
</div>

<div class="loader crop-loader">
  <p>This may take a minute...</p>
  <img src="assets/loader.gif" />
</div>
