<img class="photo" src="<%= photo.get('photo').url %>" />

<button class="btn btn-primary">
  <i class="icon-upload"></i>
  Store cropped version
</button>

<div class="loader">
  <p>This may take a minute...</p>
  <img src="assets/loader.gif" />
</div>
