<h1>New photo</h1>

<a href="#articles/<%= article.id %>" class="btn">
  <i class="icon-arrow-left"></i>
  Back to article
</a>

<div class="progress progress-info progress-striped">
  <div class="bar"></div>
</div>

<div class="dropArea">
  <p>Drop files here</p>
</div>

<div class="loader">
  <img src="/assets/loader.gif" />
</div>

<div class="results"></div>
