<ul class="breadcrumb">
  <li>
  <a href="#articles/<%= article.id %>"><%= article.escape('title') %></a> <span class="divider">/</span>
  </li>
  <li class="active">
  <a href="#">New photo</a>
  </li>
</ul>

<h1 class="page-header">
  New photo
  <small>Multiple photos can be added for upload at the same time. No versions of IE are supported.</small>
</h1>

<div class="progress progress-info progress-striped">
  <div class="bar"></div>
</div>

<div class="dropArea">
  <p>Drop files here</p>
</div>

<div class="loader">
  <img src="/assets/loader.gif" />
</div>

<div class="results"></div>
