<h1 class="page-header">
  Photos
  <small>Edit photo details. Click on a photo to create a widescreen version of the photo.</small>
</h1>

<div class="form-actions">
  <button class="btn btn-primary save-position">Save photo positions</button>
  <small>You have to save after reordering the photos</small>
</div>

<div class="photos"></div>
