<h1 class="page-header">
  Photos
  <small>Edit photo details. Click on a photo to create a widescreen version of the photo.</small>
</h1>

<div class="save-all-wrapper">
  <h4>After you are finished with the reordering, remember to save</button>
  <button class="btn btn-primary save-position">
    <i class="icon-ok-circle icon-white"></i>
    Save photo positions
</button>
</div>

<div class="photos"></div>
