<ul class="breadcrumb">
  <li>
  <a href="/articles/<%= article.id %>"><%= article.escape('title') %></a> <span class="divider">/</span>
  </li>
  <li class="active">
  <a href="#">Edit photos</a>
  </li>
</ul>

<h1 class="page-header">
  Photos
  <small>Edit photo details. Create a widescreen version by clicking the photo.</small>
</h1>

<div class="save-all-wrapper">
  <h4>After you are finished with the reordering, remember to save</button>
  <button class="btn btn-primary save-position">
    <i class="icon-ok-circle icon-white"></i>
    Save photo positions
  </button>
  <div class="progress progress-info progress-striped">
    <div class="bar"></div>
  </div>
</div>

<div class="photos row"></div>
