<div class="span4 sortableElement" data-photo-id="<%= model.id %>">
  <div class="row full">
    <span class="span2"><p><span class="position"><%= model.get('position') %></span></p></span>
    <span class="span10 small-editable-photo"></span>
  </div>

</div>
