<div style="border: 1px solid red; padding: 20px; margin: 30px;">
  <p style="font-size: 20px;">
  You are currently viewing the non-JavaScript version of MKM. This is a
  severly limited version of the site.
  </p>
  <p style="margin-top: 15px; font-size: 15px; text-align: center;">
  This site is heavily JavaScript based: please enable JavaScript in your browser. <%= link_to 'This guide', 'http://support.google.com/bin/answer.py?hl=en&answer=23852' %> will help you.
  </p>
</div>
