@import 'variables';

.showArticleView {

  article > div {
    margin-bottom: 15px;
  }

  .imagescroll {
    .nivoSlider {
      width: 940px;
      height: 376px;

      .nivo-directionNav {
        a {
          top: 0;
          width: 45%;
          height: 100%;
        }
        .nivo-nextNav {
          background-position: 100% 50%;
          background-image: url('/assets/nivo/arrow-next.png');
        }

        .nivo-prevNav {
          background-position: 0 50%;
          background-image: url('/assets/nivo/arrow-prev.png');
        }
        
      }
    }
  }

  header {
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  small {
    font-size: 0.9em;
    color: $grayLight;
  }

  section.body {
    text-align: justify;
    p {
      font-size: 1.2em;
    }
  }
}
