.showArticleView {

  .imagescroll {
    .nivoSlider {
      width: 940px;
      height: 376px;
    }
  }

  .meta {
    p {
      font-size: 0.9em;
    }
  }

  .photos {
    float: right;
  }

  section.body {
    p {
      font-size: 1.2em;
    }
  }
}
