@import 'variables';

.showArticleView {

  article > div {
    // This is the header wrapper, including page header, published and fb recommend
    margin-bottom: 10px;
  }

  h1 {
    line-height: 28px;
  }

  h2, h3, h4 {
    padding-top: 10px;
    margin-bottom: 0;
  }

  .imagescroll {
    .nivoSlider {

      .nivo-directionNav {
        a {
          top: 0;
          width: 45%;
          height: 100%;
        }
        .nivo-nextNav {
          background-position: 100% 50%;
          background-image: url('/assets/nivo/arrow-next.png');
        }

        .nivo-prevNav {
          background-position: 0 50%;
          background-image: url('/assets/nivo/arrow-prev.png');
        }

      }
    }
  }

  header {
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  small {
    font-size: 0.8em;
    color: $grayLight;
  }

  section.body {
    .loader {
      display: block;
      text-align: center;
    }
    text-align: justify;
    p {
      // paragraphs in articles
    }
  }
}
