.indexView {
  margin-top: 10px;
  .imagescroll {
    margin-bottom: 40px;

    .nivo-caption {
      p {
        font-size: 1.7em;
        line-height: 1;
      }

      bottom: 40px;
    }

  }
  .hero-unit {
    height: 280px;
  }

  #map {
    height: 390px;
  }


  .hero-unit {
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
  }

}
