@import 'variables';
@import 'mixins';

.indexView {
  margin-top: 10px;
  .imagescroll {

    .nivo-caption {
      font-size: 1.7em;
      line-height: 1;
      bottom: 40px;
    }

  }
  .hero-unit {
    height: 282px;
  }

  #map {
    height: 390px;
  }


  .hero-unit {
    @include box-shadow(0 0 3px $gray);
  }

}
