@import 'variables';
@import 'mixins';

body {
  padding-top: 50px; /* to make the container go all the way to the bottom of the topbar */
  background: #fffcfc;

  h1 {
    font-size: 26px;
  }

  footer {
    margin-top: 25px;
    border-top: 1px solid $grayLighter;
    padding-top: 5px;
    p {
      color: lighten($textColor, 40%);
      margin-top: 5px;
      font-size: 0.85em;
    }
  }

  .loader {
    display: none;
  }

  .clear-both {
    clear: both;
  }

  #map {
    padding: 5px;
    @include box-shadow(0 0 3px $gray);
    @include border-radius(5px);
    opacity: 0.8;
    height: 200px;
    border: 1px solid #ccc;
    div a, div div div span, div div a div img {
      display: none;
    }
  }

  .nivo-caption {
    text-align: center;
  }

  .padding-wrapper {
    padding: 10px;
    border: 1px solid #ececec;
    background: #fff;
    @include box-shadow(0 0 1px $grayLight);
    @include border-radius(3px);
    width: 964px;
    margin: 10px auto;
  }

}

