@import "mixins";

.phone {

  body {

    padding: 0;
    width: 100%;

    .padding-wrapper {
      padding: 5px;
      position: relative;
      left: 0;
      right: 0;
      border: 0;
      margin: 35px 0;
      width: 96%;
      .container {
        margin: 0;
        width: 100%;
      }
    }

    .showArticleView {
      .body {
        width: 100%;
      }
      .photos {
        clear: both;
        &.span5 {
          width: 100%;
        }
      }

      .span12 {
        width: 100%;
      }

      .nivo-caption {
        @include opacity(0.5);
        font-size: 0.8em;
        line-height: 1;
      }
    }

    .thumbnailsPhotoView {
      .thumbnails {
        .span5 {
          width: 96%;
        }
      }
    }

    .view-topbar {
      top: 0;
      width: 100%;
      height: auto;

      .btn-navbar {
        display: inline-block;
        float: right;
        padding: 7px 10px;
        line-height: 18px;
        margin: 5px 5px 6px;
        position: absolute;
        right: 20px;
        z-index: 50000;

        .icon-bar {
          display: block;
          width: 18px;
          height: 2px;
          background-color: #f5f5f5;
          @include border-radius(1px);
          @include box-shadow(0 1px 0 rgba(0,0,0,.25));
        }
      }

      .fadeout {
        display: none;
      }




      .flybar {
        height: auto;
        width: auto;
        .nav-collapse {
          height: 0;
          &.collapse {
            overflow: hidden;
          }
          .wrapper {
            margin: 0;
            ul {
              list-style-type: none;
            }
          }
        }

      }
    }

    .indexView {
      .imagescroll {
        .nivo-caption {
          line-height: 1;
          @include opacity(0.5);
          font-size: 0.8em;
          bottom: 0;
        }
      }
    }
  }

}
