@import 'variables';
@import 'mixins';

.newPhotoView {
  .progress {
    margin: 20px 0 16px 0;
  }
  .dropArea {
    margin: 30px auto;
    width: 400px;
    padding: 50px;
    height: 100px;
    border: 1px solid $grayLight;
    @include border-radius(6px);

    p {
      text-align: center;
      font-size: 30px;
    }
  }

  .dropArea.over {
    background-color: $grayLighter;
  }

  .loader {
    text-align: center;
    display: none;
  }

}

.editPhotoView {
  img.photo {
    max-width: none;
  }

  form.crop {
    text-align: center;
  }
}

.thumbnailsPhotoView {
  .thumbnail {
    .caption {
      p {
        font-size: 0.9em;
        line-height: 15px;
        margin-bottom: 0;
      }
    }
    .thumb-wrapper {
      text-align: center;
    }
    margin-bottom: 30px;
  }
}

.thumbnailMatrixView {
  clear: both;

  .thumbnailPhotoView {
    .thumbnail {
      img {
        max-width: none;
      }
      margin-top: 8px;
      .thumb-wrapper {
        height: 170px;
        overflow: hidden;
      }

      .caption {
        display: none;
      }

      &:hover {
        border-color: #FD6993;
      }
    }

  }

  .thumbmatrix {
    clear: both;
  }
}

.smallEditablePhoto {
  .labels {
    margin: 5px;
    text-align: center;
  }

  form {
    // setting a height avoids the box to change during loading
    height: 180px;
  }

  .toolbar-wrapper {
    text-align: center;
  }
}

.sortableEditablePhotos {
  .save-all-wrapper {
    position: fixed;
    left: 15px;
    top: 50%;
    width: 250px;
    @include border-radius(5px);
    border: 1px solid $grayLighter;
    padding: 10px;
    text-align: center;
    display: none;
  }

  .thumb-wrapper {
    height: 140px;
    overflow: hidden;
  }
}
