// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photosView {
  .dropArea {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    border: 1px solid black;

    p {
      text-align: center;
    }
  }

}
