@import "mixins";

html.touch {

  body {
    padding: 0;
      width: 100%;
    .padding-wrapper {
      padding: 5px;
      border: 0;
      margin: 25px 0;
      width: 96%;
      .container {
        margin: 0;
        width: 100%;
      }
    }
  }

  .showArticleView {
    .body {
      width: 100%;
    }
    .photos {
      clear: both;
      &.span5 {
        width: 100%;
      }
    }
    .imagescroll {
      .nivoSlider {
        width: 100%;
        min-height: 150px;
      }
    }

    .span12 {
      width: 100%;
    }
  }

  .thumbnailsPhotoView {
    .thumbnails {
      .span5 {
        width: 96%;
      }
    }
  }

}

@media (max-width: 979px) {
  .view-topbar {
    top: 0;
    width: 100%;
    height: auto;

    .btn-navbar {
      display: inline-block;
      float: right;
      padding: 7px 10px;
      line-height: 18px;
      margin: 5px 5px 6px;

      .icon-bar {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #f5f5f5;
        @include border-radius(1px);
        @include box-shadow(0 1px 0 rgba(0,0,0,.25));
      }
    }

    .fadeout {
      display: none;
    }

    .flybar {
      height: auto;
      width: auto;

      div.wrapper {
        margin: 0;
      }
    }
  }
}
